#footer {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#footer h3 {
  margin-top: 0;
}

#tla-logo {
  height: 1.35em;
  vertical-align: -0.38em;
}
